{% load humanize i18n %}

            {% if form and "gravel.add_comment" in perms %}
            <section class="comment">
                <form method="post">
                    {% csrf_token %}
                    <ul>
                    {% for field in form %}
                        <li>
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                            {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>

                    <nav class="buttons">
                        <ul>
                            <li>
                                <input type="submit" value="{% translate 'Comment' %}" />
                            </li>
                        </ul>
                    </nav>
                </form>
            </section>
            {% endif %}
