{% load humanize i18n tz utils %}

            {% if object.comments.all %}
            <section class="listing comments">
                <ul>
                    {% for comment in object.comments.all %}
                    <li id="{{ forloop.counter }}">
                        <span class="header nowrap center">
                            <b>{{ comment.author }}</b>
                            <small>
                                <a {% if forloop.counter == object.comments.all|length %}name="latest" {% endif %}href="#{{ forloop.counter }}"><time>{{ comment.created_date|date:"SHORT_DATETIME_FORMAT" }}</time></a>
                            </small>
                        </span>
                        <span class="expand{% if comment.author == user %} myself{% endif %}">
                            <nav class="float">
                                <ul>
                                {% if "gravel.change_comment" in perms %}
                                    {% if comment.author == user or user.is_staff %}
                                    <li>
                                        <a class="change" href="{% url 'comment-update' comment.pk %}" title="{% translate 'Edit' %}"><i class="fa fa-fw fa-pencil"></i></a>
                                    </li>
                                    {% endif %}
                                {% endif %}
                                {% if "gravel.delete_comment" in perms %}
                                    {% if comment.author == user or user.is_staff %}
                                    <li>
                                        <a class="delete" href="" title="{% translate 'Delete' %}"><i class="fa fa-fw fa-remove"></i></a>
                                    </li>
                                    {% endif %}
                                {% endif %}
                                </ul>
                            </nav>

                            <div class="content justify">
                            {% autoescape off %}
                                {{ comment.content|to_markdown|safe }}
                            {% endautoescape %}
                            </div>

                            {% if comment.updated_date|date:"YmdHi" != comment.created_date|date:"YmdHi" %}
                            <footer>
                                <small>
                                    {% blocktranslate with date=comment.updated_date|date:'SHORT_DATETIME_FORMAT' editor=comment.editor %}Modified the {{ date }} by {{ editor }}{% endblocktranslate %}
                                </small>
                            </footer>
                            {% endif %}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
