{% extends "base.html" %}
{% load i18n %}

{% block section %}
        <section class="form">
            <form method="post">
                {% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                </ul>

                <nav class="buttons">
                    <ul>
                        <li>
                            <input type="submit" value="{% translate 'Send' %}" />
                        </li>
                    </ul>
                </nav>
            </form>
        </section>
{% endblock %}

