{% load humanize i18n %}

            {% if page_obj.paginator.num_pages > 1 %}
            <section class="pagination">
                <nav>
                    <ul>
                        {% if page_obj.has_previous %}
                        <li>
                            <a href="?page=1">&laquo; first</a>
                        </li>
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        </li>
                        {% endif %}

                        <li class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </li>

                        {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        </li>
                        <li>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </section>
            {% endif %}
