{% extends "base.html" %}
{% load humanize i18n %}

{% block section %}
            <section class="listing table">
                <header class="actions">
                    <div>
                        <h2>{% translate "Forum" %}</h2>
                    </div>

                    <nav class="buttons">
                        <ul>
                            {% if "gravel.add_message" in perms %}
                            <li>
                                <a class="create" href="{% url 'message-create' %}"><i class="fa fa-fw fa-plus"></i>{% translate "Add" %}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </header>
            {% if page_obj %}
                <ul>
                {% for message in page_obj %}
                    <li>
                        <span class="expand">
                            <a href="{% url 'message-detail' message.slug message.pk %}">{{ message.title }}</a>
                        </span>
                        <span class="nowrap right">
                            <small>
                            {% if message.updated_date|date > message.created_date|date %}
                                <i class="fa fa-fw fa-pencil" title="{{ message.updated_date|date:'SHORT_DATETIME_FORMAT' }}"></i>
                            {% endif %}
                                {{ message.created_date|naturaltime }}
                            </small>
                        </span>
                        <span class="nowrap center">
                            {{ message.comments.all|length }}
                        </span>
                        <span class="nowrap center">
                            {{ message.author }}
                        </span>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <div class="banner warning">
                    {% translate "Empty..." %}
                </div>
            {% endif %}
            </section>

            {% include "common/pagination.html" %}
{% endblock %}
