{% load humanize i18n static %}
<!DOCTYPE html>
<html lang="{{ SITE_LANG }}">
    <head>
        <title>{{ SITE_TITLE }}</title>
        <!-- Normalize encoding -->
        <meta name="encoding" content="utf-8" charset="utf-8" />
        <!-- Website behavior -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Website appearance -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/highlight.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'fork-awesome/css/fork-awesome.css' %}" />
    </head>

    <body>
        {% if user.is_authenticated %}
        <nav class="navbar">
            <ul>
                <li>
                    <a class="active" href="{% url 'home' %}" title="{% translate 'Home' %}"><i class="fa fa-fw fa-home"></i></a>
                </li>
                <li>
                    <a href="{% url 'messages-list' %}">{% translate "Forum" %}</a>
                </li>
                <li>
                    <a href="{% url 'articles-list' %}">{% translate "Wiki" %}</a>
                </li>
            </ul>
            <ul>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}">{% translate "Administration" %}</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'logout' %}" title="{% translate 'Log out' %}"><i class="fa fa-fw fa-sign-out"></i></a>
                </li>
            </ul>
        </nav>
        {% endif %}
        <main>
            {% block section %}{% endblock %}
        </main>

        <footer>
            <small>Copyleft {% now 'Y' %} - PacMiam</small>
        </footer>
    </body>
</html>
