{% extends "base.html" %}
{% load humanize i18n utils %}

{% block section %}
            <section class="homepage">
                {% for title, values in elements.items %}
                <aside>
                    <header>
                        <h2>{{ title }}</h2>
                    </header>

                    {% if values.elements %}
                    <ul>
                    {% for element in values.elements %}
                        <li{% if element.index is None %} class="new"{% endif %}>
                            <span>
                            {% if element.index is None %}
                                <i class="fa fa-fw fa-plus"></i>
                            {% else %}
                                <i class="fa fa-fw fa-commenting"></i>
                            {% endif %}
                            </span>
                            <span>
                            {% if element.index is None %}
                                <a href="{% url values.detail element.slug element.pk %}">{{ element.title }}</a><br/>
                                <small>
                                    {% blocktranslate with author=element.author %}Writed by <b>{{ author }}</b>{% endblocktranslate %}
                                    {{ element.created_date|naturaltime }}
                                </small>
                            {% else %}
                                <a href="{% url values.detail element.parent.slug element.parent.pk %}#{{ element.index }}">{{ element.parent.title }}</a><br/>
                                <small>
                                    {% blocktranslate with author=element.author %}Commented by <b>{{ author }}</b>{% endblocktranslate %}
                                    {{ element.updated_date|naturaltime }}
                                </small>
                            {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <div class="banner warning">
                        {% translate "Empty..." %}
                    </div>
                    {% endif %}

                    <nav class="buttons">
                        <ul>
                            <li>
                                <a href="{% url values.list %}">{% translate "See more" %}</a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                {% endfor %}
            </section>
{% endblock %}
