{% extends "base.html" %}
{% load humanize i18n utils %}

{% block section %}
            <section class="text">
                <header class="actions">
                    <div>
                        <h2>{{ object.title }}</h2>
                        <small>
                            <b>{{ object.author }}</b>
                            {{ object.created_date|naturaltime }}
                        {% if object.updated_date|date > object.created_date|date %}
                            <i class="fa fa-fw fa-pencil" title="{{ object.updated_date|date:'SHORT_DATETIME_FORMAT' }}"></i>
                        {% endif %}
                        </small>
                    </div>

                    <nav class="buttons">
                        <ul>
                        {% if "gravel.change_article" in perms %}
                            {% if user.is_staff or user == object.author %}
                            <li>
                                <a class="change" href="{% url 'article-update' object.pk %}"><i class="fa fa-fw fa-edit"></i>{% translate "Edit" %}</a>
                            </li>
                            {% endif %}
                        {% endif %}
                        {% if "gravel.delete_article" in perms %}
                            {% if user.is_staff or user == object.author %}
                            <li>
                                <a class="delete" href="{% url 'article-delete' object.pk %}"><i class="fa fa-fw fa-remove"></i>{% translate "Delete" %}</a>
                            </li>
                            {% endif %}
                        {% endif %}
                        </ul>
                    </nav>
                </header>

                <div class="content justify">
                    {% autoescape off %}
                        {{ object.content|to_markdown|safe }}
                    {% endautoescape %}
                </div>
            </section>
{% endblock %}
