{% extends "base.html" %}
{% load humanize i18n %}

{% block section %}
            <section class="listing table">
                <header class="actions">
                    <div>
                        <h2>{% translate "Wiki" %}</h2>
                    </div>

                    <nav class="buttons">
                        <ul>
                            {% if "gravel.add_article" in perms %}
                            <li>
                                <a class="create" href="{% url 'article-create' %}"><i class="fa fa-fw fa-plus"></i>{% translate "Add" %}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </header>
            {% if page_obj %}
                <ul>
                {% for article in page_obj %}
                    <li>
                        <span class="expand">
                            <a href="{% url 'article-detail' article.slug article.pk %}">{{ article.title }}</a>
                        </span>
                        <span class="nowrap right">
                            <small>
                            {% if article.updated_date|date > article.created_date|date %}
                                <i class="fa fa-fw fa-pencil" title="{{ article.updated_date|date:'SHORT_DATETIME_FORMAT' }}"></i>
                            {% endif %}
                                {{ article.created_date|naturaltime }}
                            </small>
                        </span>
                        <span class="nowrap center">
                            {{ article.comments.all|length }}
                        </span>
                        <span class="nowrap center">
                            {{ article.author }}
                        </span>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <div class="banner warning">
                    {% translate "Empty..." %}
                </div>
            {% endif %}
            </section>

            {% include "common/pagination.html" %}
{% endblock %}
