{% extends "base.html" %}
{% load i18n %}

{% block section %}
        <section>
            <form method="post">
                {% csrf_token %}

                <nav class="buttons">
                    <ul>
                        <li>
                            <a href="{% url 'message-detail' object.slug object.pk %}">{% translate "Cancel" %}</a>
                        </li>
                        <li>
                            <input class="destructive-action" type="submit" value="{% translate 'Delete' %}" />
                        </li>
                    </ul>
                </nav>
            </form>
        </section>
{% endblock %}

