/* --------------------------------------------------------------------------
 *  Copyleft 2020  PacMiam
 *
 *  This is a free work, you can copy, distribute, and modify it under the
 *  terms of the Free Art License: http://artlibre.org/licence/lal/en/
 * -------------------------------------------------------------------------- */

.codehilite .bp { color: #FFE280; }
.codehilite .c { color: #A2A2A2; }
.codehilite .c1 { color: #A2A2A2; }
.codehilite .ch { color: #A2A2A2; }
.codehilite .cm { color: #A2A2A2; }
.codehilite .cp { color: #66F3FF; font-weight: bold; }
.codehilite .cpf { color: #9CFF80; }
.codehilite .cs { color: #A2A2A2; }
.codehilite .dl { color: #9CFF80; }
.codehilite .err { color: #FF6666; }
.codehilite .fm { color: #9CFF80; }
.codehilite .gd { color: #FF6666; }
.codehilite .ge { font-style: italic; }
.codehilite .gh { color: #66F3FF; font-weight: bold; }
.codehilite .gi { color: #9CFF80; }
.codehilite .go { color: #666666; }
.codehilite .gp { color: #9CFF80; }
.codehilite .gr { color: #FF6666; }
.codehilite .gs { font-weight: bold; }
.codehilite .gt { color: #FFFFFF; }
.codehilite .gu { color: #FFB3FB; font-weight: bold; }
.codehilite .il { color: #9CFF80; }
.codehilite .k { color: #FFE280; font-weight: bold; }
.codehilite .kc { color: #FFFFFF; }
.codehilite .kd { color: #FFE280; font-weight: bold; }
.codehilite .kn { color: #FFE280; font-weight: bold; }
.codehilite .kp { color: #FFE280; }
.codehilite .kr { color: #FFE280; font-weight: bold; }
.codehilite .kt { color: #66FFDA; font-style: italic; font-weight: bold; }
.codehilite .m { color: #FFAF66; }
.codehilite .mb { color: #FFAF66; }
.codehilite .mf { color: #FFAF66; }
.codehilite .mh { color: #FFFFFF; }
.codehilite .mi { color: #FFAF66; }
.codehilite .mo { color: #FFE280; }
.codehilite .na { color: #FFFFFF; }
.codehilite .nb { color: #FFE280; }
.codehilite .nc { color: #66F3FF; font-weight: bold; }
.codehilite .nd { color: #FFE280; }
.codehilite .ne { color: #FF6666; }
.codehilite .nf { color: #66F3FF; font-weight: bold; }
.codehilite .ni { color: #666666; font-weight: bold; }
.codehilite .nl { color: #66FFDA; font-style: italic; font-weight: bold; }
.codehilite .nn { color: #66F3FF; font-weight: bold; }
.codehilite .no { color: #FFE280; }
.codehilite .nt { color: #66FFDA; font-weight: bold; }
.codehilite .nv { color: #FFE280; }
.codehilite .o { color: #FFFFFF; }
.codehilite .ow { color: #FFE280; font-weight: bold; }
.codehilite .p { color: #FFFFFF; }
.codehilite .s { color: #9CFF80; }
.codehilite .s1 { color: #9CFF80; }
.codehilite .s2 { color: #9CFF80; }
.codehilite .sa { color: #9CFF80; }
.codehilite .sb { color: #9CFF80; }
.codehilite .sc { color: #9CFF80; }
.codehilite .sd { color: #9CFF80; }
.codehilite .se { color: #9CFF80; }
.codehilite .sh { color: #9CFF80; }
.codehilite .si { color: #FFB3FB; }
.codehilite .sr { color: #9CFF80; }
.codehilite .ss { color: #FFE280; }
.codehilite .sx { color: #9CFF80; }
.codehilite .vc { color: #FFE280; }
.codehilite .vg { color: #FFE280; }
.codehilite .vi { color: #FFE280; }
.codehilite .vm { color: #FFE280; }
.codehilite .w { color: #A2A2A2; }
