/* ---------------------------------------------------------------------------
   Copyleft 2020  PacMiam

   This program is free software: you can redistribute it and/or modify it
   under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful, but WITHOUT
   ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
   FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
   License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
   -------------------------------------------------------------------------- */

*, *:before, *:after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, ul, li, p, pre { margin: 0; padding: 0; }

/* Navigation bar */
nav.navbar { position: sticky; top: 0; display: flex; flex-direction: row; }
nav.navbar > ul { display: flex; flex: 1; flex-direction: row;
                  list-style: none inside; }
nav.navbar > ul:last-child { justify-content: right; }
nav.navbar > ul > li > a { display: block;
                           margin-right: 8px; padding: 10px 16px 6px;
                           border-bottom: 4px solid transparent;
                           white-space: nowrap; }
nav.navbar > ul > li:last-child > a { margin-right: 0; }
nav.navbar > ul > li > a:hover { text-decoration: none; }

/* Main */
main { width: 80%; margin: 16px auto; }

/* Footer */
body > footer { margin-bottom: 8px; font-style: oblique; text-align: center; }

/* Header with actions */
header.actions { display: flex; flex-direction: row; align-items: center;
                 margin-bottom: 8px; padding: 8px; }
header.actions > div { flex: 100%; }
header.actions > nav > ul { display: flex; flex-direction: row;
                            list-style: none inside; }

/* Homepage */
section.homepage { display: flex; }
section.homepage > aside { flex: 1; margin: 0 8px; }
section.homepage > aside > header { margin-bottom: 6px; text-align: center; }
section.homepage > aside > ul { list-style: none inside; }
section.homepage > aside > ul > li { margin-bottom: 6px; padding: 8px;
                                     border: 1px solid transparent;
                                     border-radius: 2px; }

/* List */
section.listing { margin-bottom: 16px; }
section.listing > ul { width: 100%; display: table; border-spacing: 2px;
                       border-radius: 2px; }
section.listing > ul > li { display: table-row; }
section.listing > ul > li > span { display: table-cell; padding: 8px; }
section.listing span.center { text-align: center; }
section.listing span.expand { width: 100%; }
section.listing span.nowrap { white-space: nowrap; }
section.listing span.right { text-align: right; }

/* Text */
section.text { margin-bottom: 16px; }
section.text > div.content { padding: 16px; border: 2px solid transparent; }
section.text > div.content.justify { text-align: justify; }

/* Comments */
section.comments > ul { border-spacing: 0 8px; }
section.comments > ul > li > span { vertical-align: top; }
section.comments > ul > li > span > div { padding: 8px; }
section.comments > ul > li > span > footer {
    margin-top: 8px; border-top: 1px solid transparent; }
section.comments > ul > li > span:first-child b { display: block; }
section.comments > ul > li > span.expand { border: 2px solid transparent; }

nav.float { float: right; opacity: 0.25; }
li:hover nav.float { opacity: 1; }
nav.float > ul { display: flex; list-style: none inside; }
nav.float > ul > li { margin-right: 6px; padding: 2px; }
nav.float > ul > li:last-child { margin-right: 0; }

section.comment > form > ul { width: 60%; margin: 0 auto;
                              display: flex; align-items: normal;
                              list-style: none inside; }
section.comment > form > ul > li { width: 100%; padding: 8px; }
section.comment > form > ul > li > b { display: block; padding: 4px; }
section.comment > form > ul > li:nth-child(2) { flex: 100%; }
section.comment > form input[type="submit"] { margin: 0; padding: 6px 12px;
                                              font-size: larger; }
section.comment > form textarea { width: 100%; min-height: 16px;
                                  padding: 6px; resize: vertical; }

/* Banners */
div.banner { margin-bottom: 6px; padding: 8px;
             border: 1px solid transparent;
             border-radius: 2px;
             text-align: center; }

/* Forms */
section.form { width: 60%; margin: 0 auto }
section.form > form > ul { display: flex; flex-direction: column;
                           border-spacing: 8px; list-style: none inside; }
section.form > form > ul > li { display: flex; flex-direction: column;
                                margin-bottom: 16px; }
section.form > form > ul > li > label { margin-bottom: 6px; font-weight: bold; }

section.form input[type="email"],
section.form input[type="password"],
section.form input[type="text"],
section.form textarea {
    padding: 8px;
    border: 1px solid;
}

/* Buttons */
.buttons { margin: 0 auto; }
.buttons > ul { display: flex; flex-direction: row;
                align-items: center; justify-content: center;
                list-style: none inside; }
.buttons a, .buttons input { display: inline-block;
                             margin-right: 8px;
                             padding: 8px 16px;
                             border: 2px outset transparent;
                             border-radius: 2px;
                             text-decoration: none;
                             white-space: nowrap;
                             cursor: pointer; }
.buttons a:hover, .buttons input:hover { text-decoration: underline; }
.buttons a i, .buttons input a { margin-right: 4px; }
header.actions .buttons a { display: block; padding: 6px 8px; }
header.actions .buttons li:last-child a { margin-right: 0; }
section.comments .buttons a { margin-right: 0; padding: 2px; }

/* Misc */
.hidden { display: none; }
.content * { margin-bottom: 16px; }
.content *:last-child { margin-bottom: 0; }
.content p { word-break: break-all; }
.content pre { padding: 8px; border: 2px solid transparent;
               border-radius: 2px; }
.content pre > code { white-space: pre-wrap; }

/* ---------------------------------------------------------------------------
   COLORS
   -------------------------------------------------------------------------- */

html { color: black; background-color: #FFFBE5; }

/* Navigation bar */
nav.navbar { color: black; background-color: white;
             box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
nav.navbar > ul > li > a { color: black; }
nav.navbar > ul > li > a.active { border-color: #FF6666; }
nav.navbar > ul > li > a:hover { border-color: #1A1A1A; }

/* Homepage */
section.homepage > aside > ul > li { border-color: lightgrey;
                                     box-shadow: 1px 1px 2px lightgrey; }
section.homepage > aside > ul > li {
    background-color: rgba(255, 226, 128, 0.4); }
section.homepage > aside > ul > li.new {
    background-color: rgba(156, 255, 128, 0.4); }
section.homepage > aside > ul > li > span > a { color: black; }

/* List */
section.listing > ul { background-color: lightgrey; }
section.table > ul > li:nth-child(even) > span { background-color: #FAFAFA; }
section.table > ul > li:nth-child(odd) > span { background-color: white; }

/* Text */
section.text > div.content { background-color: white; border-color: lightgrey; }

/* Comments */
section.comments > ul { background-color: transparent; }
section.comments > ul, section.comment > form > ul { border-color: lightgrey; }
section.comments > ul > li > span.expand { background-color: white;
                                           border-color: lightgrey; }
section.comments > ul > li > span.myself { border-color: #5CDBE6; }
section.comments span.header a, section.comments span footer {
    color: grey; border-color: lightgrey !important; }

nav.float > ul > li > a { color: black; }
li:hover nav.float > ul > li { background-color: #FAFAFA; }

/* Banners */
div.banner { border-color: #1A1A1A; box-shadow: 1px 1px 2px lightgrey; }
div.banner.warning { color: black; background-color: #FFE280;
                     border-color: #E6CB73; }
div.banner.error { color: white; background-color: #FF6666;
                   border-color: #E65C5C; }

/* Buttons */
.buttons a, .buttons input { color: ButtonText; background-color: #66F3FF;
                             border-color: #5CDBE6;
                             box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); }
.buttons a:hover, .buttons input:hover { background-color: #66FFDA;
                                         border-color: #5CE6C4; }

/* Misc */
.content pre { color: white; background-color: #262626; border-color: #1A1A1A;
               box-shadow: 0 0 2px black inset; }
