{% extends "base.html" %}
{% load humanize i18n %}

{% block section %}
        <section class="form">
            {% if form.errors %}
            <div class="banner error">
                {% translate "Your username and password didn't match. Please try again." %}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                </ul>

                <nav class="buttons">
                    <ul>
                        <li>
                            <input type="submit" value="{% translate 'Log in' %}" />
                        </li>
                    </ul>
                </div>
            </form>
        </section>
{% endblock %}

